{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Producto</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/confirmar_eliminar.css' %}">

</head>
<body>
    <div class="container">
        <h2>¿Estás seguro de que deseas eliminar este producto?</h2>
        <p><strong>Nombre:</strong> {{ producto.nombre_producto }}</p>
        <p><strong>Tipo de Madera:</strong> {{ producto.tipo_madera }}</p>
        <p><strong>Descripción:</strong> {{ producto.descripcion }}</p>
        {% if producto.imagen %}
            <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre_producto }}">
        {% else %}
            <p>No hay imagen disponible</p>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Sí, Eliminar</button>
            <a href="{% url 'gestionar_productos' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</body>
</html>
