{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Producto</title>
    <link rel="stylesheet" href="{% static 'css/editar_producto.css' %}">

</head>
<body>
    <div class="container">
        <h2>Editar Producto</h2>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </form>

        <br>
        <a href="{% url 'gestionar_productos' %}" class="btn btn-secondary">Volver</a>
    </div>
</body>
</html>