{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Galería de Publicidad</title>
  <link rel="stylesheet" href="{% static 'css/index.css' %}?v={{ timestamp }}">
  
</head>
<body>
  <!-- Header -->
  <div class="headermenu">
    <div class="hmenu">
      <img src="{% static 'diseños/imagenes/logo.png' %}" alt="logo" class="img">
      <h4>Maderas <span>Isabella</span></h4>
    </div>
    
    <!-- Menú circular desplegable -->
    <div class="user-menu">
      <div class="user-circle">YC</div>
      <div class="dropdown-content">
        <a href="{% url 'profile' %}">Perfil</a>
        <a href="#">Calificaciones</a>
        <a href="#">Calendario</a>
        <a href="#">Archivos privados</a>
        <a href="#">Informes</a>
        <a href="#">Preferencias</a>
        <a href="{% url 'logout' %}">Cerrar sesión</a>
      </div>
    </div>
  </div>

  <!-- Contenido principal -->
  <div class="main-content">
    <!-- Menú lateral -->
    <div class="sidebar">
      <h2>Menú</h2>
      <div class="menu">
        <a href="{% url 'index' %}">Inicio</a>
        <a href="{% url 'gestionar_productos' %}">Galería de Publicidad</a>
        <a href="{% url 'lista_login' %}">Listado de Cuentas</a>
        <a href="{% url 'carpeta' %}">Documentos de contratación</a>
        <a href="{% url 'manage_backups' %}">Gestion de base de datos (backups)</a>
        <a href="{% url 'logout' %}">Cerrar Sesión</a>
      </div>
    </div>
  </div>
</body>
</html>