{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recibidor - Dashboard</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">

</head>
<body>
  <div class="header">Maderas <span>Isabella</span></div>
  <div class="main-content d-flex">
    <div class="sidebar p-3">
      <h2>Menú</h2>
      <div class="menu">
        <a href="{% url 'index' %}">Inicio</a>
        <a href="{% url 'logout' %}">Cerrar Sesión</a>
        <a href="{% url 'gestionar_productos' %}">Galería de Publicidad</a>
        <a href="{% url 'lista_login' %}">Listado de Cuentas</a>
        <a href="{% url 'carpeta' %}">Documentos de contratacion</a>
      </div>
    </div>
    <div class="container mt-4">
      <h3>Imágenes Publicadas</h3>
      <div class="row">
        {% for producto in productos_publicados %}
          <div class="col-md-4 mb-3">
            <div class="card">
              {% if producto.imagen %}
                <img src="{{ producto.imagen.url }}" class="card-img-top" alt="{{ producto.nombre_producto }}">
              {% else %}
                <div class="card-img-top text-center p-3">No hay imagen disponible</div>
              {% endif %}
            </div>
          </div>
        {% empty %}
          <p>No hay imágenes publicadas.</p>
        {% endfor %}
      </div>
    </div>
  </div>
</body>
</html>
