{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <header>
        <nav class="nav-main">
            <ul>
                <li><a href="{% url 'inicio' %}">🔰 Inicio</a></li>
                <li><a href="{% url 'inicio' %}">👀 aprende lo que hacemos</a></li>
                <li><a href="#imagenespublicadas">🛒 Ver imagenes Publicadas</a></li>
                <li><a href="#nosotros">🧑‍💻 Nosotros</a></li>
                <li><a href="#ubicanos">🗺️ Direccion</a></li>
                <li><a href="#contacto">📱 Contacto</a></li>
                <li><a href="{% url 'login' %}">Inicia sesión</a></li>
            </ul>
        </nav>
        <a href="{% url 'inicio' %}">
            <img src="{% static 'diseños/imagenes/logo.PNG' %}" alt="logo" class="logo">
        </a>
    </header>

    <div class="login-box">
        <h1 class="title">Iniciar Sesión</h1>

        {% if messages %}
            {% for message in messages %}
                <p style="color: red;">{{ message }}</p>
            {% endfor %}
        {% endif %}

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="input-group">
                <label for="login_email">Correo:</label>
                <input type="email" name="email" id="login_email" required>
            </div>
            <div class="input-group">
                <label for="login_password">Contraseña:</label>
                <div class="password-wrapper">
                    <input type="password" name="password" id="login_password" required>
                    <span class="toggle-password" onclick="togglePassword()">👀</span>
                </div>
            </div>
            <div class="buttons">
                <button type="submit">Iniciar Sesión</button>
            </div>
        </form>

        <p>¿No tienes una cuenta? <a href="{% url 'registro_login' %}">Regístrate</a></p>
        <p><a href="{% url 'recu_contra' %}">¿Olvidaste tu contraseña?</a></p>
    </div>

    <footer id="contacto">
        <img src="{% static 'diseños/imagenes/logo.PNG' %}" alt="logo" width="150">
        <p>Somos un proveedor de maderas finas dedicada a la compra de bosques, tala y venta de madera y transformación de la misma</p>
        <h2>CONTACTO</h2>
        <p>Puede contactarnos a través de:</p>
        <address>
            <a href="https://web.facebook.com/people/Maderas-Isabella-AEI-SAS/100085008207707/" class="footer-link">
                Página de Facebook
            </a><br>
            📱 Teléfono: +57 3223280615 - +57 3103178649<br>
            🧭 Dirección: Carrera 1 #No. 3-88, Socha, Boyacá, Colombia
        </address>
        <p>&copy; 2024 Maderas Isabella. Todos los derechos reservados.</p>
    </footer>

    <script src="{% static 'js/login.js' %}"></script>
</body>
</html>
