{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}?v={{ timestamp }}">
</head>
<body>
 
    <div class="login-box">
        <h1 class="title">Iniciar Sesión</h1>

        {% if messages %}
            {% for message in messages %}
                <p style="color: red;">{{ message }}</p>
            {% endfor %}
        {% endif %}

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="input-group">
                <label for="login_email">Correo:</label>
                <input type="email" name="email" id="login_email" required>
            </div>
            <div class="input-group">
                <label for="login_password">Contraseña:</label>
                <div class="password-wrapper">
                    <input type="password" name="password" id="login_password" required>
                    <span class="toggle-password" onclick="togglePassword()">👀</span>
                </div>
            </div>
            <div class="buttons">
                <button type="submit">Iniciar Sesión</button>
            </div>
        </form>

        <p>¿No tienes una cuenta? <a href="{% url 'registro_login' %}">Regístrate</a></p>
        <p><a href="{% url 'recu_contra' %}">¿Olvidaste tu contraseña?</a></p>
    </div>

    <script src="{% static 'js/login.js' %}"></script>
</body>
</html>
