{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Subir Nueva Imagen</title>
  <link rel="stylesheet" href="{% static 'css/subir_imagen.css' %}">
</head>
<body>
  <div class="container">
    <h2>Subir Nueva Imagen</h2>
    
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn-success">Subir Imagen</button>
    </form>
    
    <br>
    <a href="{% url 'gestionar_productos' %}" class="btn-secondary">Volver</a>
  </div>
</body>
</html>
