body {
    /* Se utiliza la ruta absoluta relativa al directorio static */
    background: url("/static/diseños/imagenes/imag11.jpg");
    background-size: cover;
    position: relative;
    font-family: 'Arial', sans-serif;
    color: #141414;
    margin: 0;
  }
  
  .full-height {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .reset-form {
    background: rgba(241, 238, 238, 0.945);
    padding: 30px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    text-align: center;
    max-width: 400px;
    width: 100%;
    animation: fadeIn 1s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #0f0f0f;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 2px solid #cf9d67;
    border-radius: 5px;
    background: rgba(241, 238, 238, 0.945);
    color: #0f0f0f;
    outline: none;
  }
  
  input::placeholder {
    color: rgba(17, 17, 17, 0.7);
  }
  
  p {
    font-size: 14px;
  }
  
  button {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    background: #cf9d67;
    border: none;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  
  button:hover {
    background: #1caf28;
    transform: scale(1.05);
  }
  
  .back-link {
    display: block;
    margin-top: 10px;
    color: #131212;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .back-link:hover {
    color: rgb(16, 113, 35);
  }
  